**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!src/extension.cjs
!src/connection.cjs
!src/installation.cjs
!src/run-command.cjs
!src/run-input.cjs
!src/run-process.cjs
!src/run-project.cjs
!syntaxes/zryna.tmLanguage.json
